/* .pic {
    background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/1400/4b34c7151484215.630d0ab44b86d.jpg');
    background-position: 0% 0%;
    background-size: cover;
    background-repeat: no-repeat;
} */