body {
  font-family: 'Noto Sans KR', sans-serif;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

.navbar-line {
  display: flex;
  align-items: center;
  -webkit-box-align: center;
}

.search-form {
  position: relative;
}



.search-icon {
  cursor: pointer;
}

.navbar-nav li a {
  color: rgb(181, 181, 181);
  font-weight: 400;
}

.navbar-nav li a:hover,
.navbar-nav li a:active,
.navbar-nav li a:after,
.navbar-nav li a:focus {
  color: #5e0080;
  font-weight: 500;
}

.test-grid {
  display: grid;
  grid-template-columns: 400px auto;
  gap: 4px;
}



.non_a {
  text-decoration: none;
  color: black;
}

.non_a:hover {
  color: #5e0080;
}

.signup-input:focus {
  outline: 1px sollid #5e0080 !important;
}

.productcard {
  width: 249px;
  position: relative;
}

.product-img img {
  transition: all 0.3s linear;
}

.product-img:hover img {
  transform: scale(1.05);
}

.product-img {
  overflow: hidden;
}

.cart-icon {
  position: absolute;
  right: 10px;
  bottom: 120px;
}

.swiper {
  width: 1070px;
  height: 435px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}