{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}

  <div class="d-flex justify-content-center">
    <div class="card text-center" style="width: 500px; height: 400px;">
      <div class="card-body">
        <p class="card-text">
          {% if user.is_authenticated %}
          {% else %}
            <p class="mt-5">회원이신가요?</p>
            <a class="btn btn-primary w-100" href="{% url "accounts:login" %}">로그인</a>
          {% endif %}
          <p class="mt-5">아직 회원이 아니신가요?</p>
          <a class="btn btn-primary w-100 mb-5" href="{% url 'accounts:index' %}">회원가입</a>
        </p>
      </div>
    </div>
  </div>

  {% if request.user.is_superuser == 1 %}
    <a href="{% url 'products:create' %}" class="btn btn-primary">글쓰기</a>
  {% endif %}
  <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
  <script>
    const swiper = new Swiper('#test-slide', {
      // Optional parameters
      direction: 'horizontal',
      slidesPerView: 4,
      spaceBetween: 15,
      loop: false,

      // If we need pagination
      pagination: {
        el: '.swiper-pagination'
      },

      // Navigation arrows
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev'
      },

      // And if we need scrollbar
      // scrollbar: {
      //   el: '.swiper-scrollbar',
      // },
    });
  </script>

{% endblock content %}