{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}
<section class="container" style="width: 640px;height: 1315px; margin-top: 50px;">
  <!-- <h2 class="d-flex justify-content-center my-5">회원가입</h2> -->
  <div>
    <svg viewbox="0 0 1440 320" xmlns="http://www.w3.org/2000/svg">
      <defs>
        <style type="text/css">
          .wave {
            animation: wave 8s linear infinite;
            transform: rotate(180deg);
          }

          .wave1 {
            animation: wave1 10s linear infinite;
            transform: rotate(180deg);
          }

          .wave2 {
            animation: wave2 12s linear infinite;
            transform: rotate(180deg);
          }

          @keyframes wave {
            0% {
              transform: translateX(0%);
            }

            100% {
              transform: translateX(100%);
            }
          }

          @keyframes wave1 {
            0% {
              transform: scaleY(1.2) translateX(0%);
            }

            100% {
              transform: scaleY(1.2) translateX(100%);
            }
          }

          @keyframes wave2 {
            0% {
              transform: scaleY(.8) translateX(0%);
            }

            100% {
              transform: scaleY(.8) translateX(100%);
            }
          }
        </style>
        <path id='sineWave' fill="#5e0080" fill-opacity="0.5"
          d="M0,160 C320,300,420,300,740,160 C1060,20,1120,20,1440,160 V0 H0" />
      </defs>
      <use class="wave" href="#sineWave" />
      <use class="wave" x="-100%" href="#sineWave" />
      <use class="wave1" href="#sineWave" />
      <use class="wave1" x="-100%" href="#sineWave" />
      <use class="wave2" href="#sineWave" />
      <use class="wave2" x="-100%" href="#sineWave" />
    </svg>
  </div>
  <div>
    <form class="mx-3" action="{% url 'accounts:signup' %}"
      style="border-top: 0px solid rgb(51, 51, 51); font-size:14px;" method="POST">
      {% csrf_token %}
      <div class="d-flex align-items-center">
        <h6 class="my-3" style="width: 123px; color: rgb(51, 51, 51); font-size:14px;">아이디</h6>
        <div class="my-3">
          <input id='username' type="text" style="width: 333px; height: 46px;" name="username" maxlength="150"
            autofocus="" class="signup-input form-control" placeholder="아이디를 입력해주세요" required="" id="id_username">
        </div>
        <div>
          <input class="btn" type="button"
            style="margin-left: 8px; width: 120px; height: 46px; border: 1px solid #5e0080; color: #5e0080; font-weight: 500;"
            value="중복확인" data-bs-toggle="modal" data-bs-target="#isValidModal" onclick="isValidId();">
        </div>
        <div class="modal fade" id="isValidModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
          style="margin: 0;">
          <div class="modal-dialog container" style="width:360px; margin: 200px auto;">
            <div class="modal-content mx-0" style="width:360px; height:180px;">
              <div class="modal-body text-center" id="modal-body"
                style="padding: 40px 30px;font-size: 1rem; font-weight: 500;">
              </div>
              <div class="modal-footer d-flex justify-content-center py-2">
                <button class="btn" type="button" data-bs-dismiss="modal"
                  style="color: #5e0080; border: 0px; font-weight: 500;">확인</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex align-items-center">
        <h6 class="my-3" style="width: 123px; color: rgb(51, 51, 51); font-size: 14px;">비밀번호</h6>
        <div class="my-3">
          <input type="password" style="width:333px; height: 46px; form" name="password1" autocomplete="new-password"
            class="signup-input form-control" placeholder="비밀번호를 입력해주세요" required="" id="id_password1">
        </div>
      </div>
      <div class="d-flex align-items-center">
        <h6 class="my-3" style="width: 123px; color: rgb(51, 51, 51); font-size: 14px;">비밀번호 확인</h6>
        <div class="my-3">
          <input type="password" style="width:333px; height: 46px;" name="password2" autocomplete="new-password"
            class="signup-input form-control" placeholder="비밀번호를 한 번 더 입력해주세요" required="" id="id_password2">
        </div>
      </div>
      <div class="d-flex align-items-center">
        <h6 class="my-3" style="width:123px; color: rgb(51, 51, 51); font-size:14px;">주소</h6>
        <div class="my-3">
          <input type="text" style="width:333px; height: 46px;" name="address" class="signup-input form-control"
            placeholder="주소를 입력해주세요" id="sample6_address">
        </div>
        <div>
          <input class="btn" type="button"
            style="width: 120px; height: 46px; border: 1px solid #5e0080; color: #5e0080; margin-left: 8px; font-weight: 500;"
            value="주소검색" onclick="sample6_execDaumPostcode()">
        </div>
      </div>
      <div class="d-flex justify-content-center my-3">
        <input type="submit" class="btn py-2 px-5 fw-bold form-control"
          style="border-radius:0px; height:56px; background-color: #5e0080; color: white" value="가입하기">
      </div>
    </form>
  </div>
  <hr>
  <div class="d-flex justify-content-center align-items-center">
    <p class='mb-0' style="color: rgba(194, 200, 204, 1)">이미 회원이라면? <a class="text-decoration-none"
        style="color:#5e0080" href="{% url 'accounts:login' %}">로그인</a></p>
  </div>

</section>

<section class="wave-section container" style="width: 640px;">
  <div class="wave wave1"></div>
  <div class="wave wave2"></div>
  <div class="wave wave1"></div>
  <div class="wave wave2"></div>
</section>
<div style="display: none;">
  <input type="text" id="sample6_postcode" placeholder="우편번호">
  <input type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기"><br>
  <input type="text" id="sample6_address" placeholder="주소"><br>
  <input type="text" id="sample6_detailAddress" placeholder="상세주소">
  <input type="text" id="sample6_extraAddress" placeholder="참고항목">
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  const isValidId = function () {
    const USER_ID = document.querySelector('#username').value
    const modalBody = document.querySelector('#modal-body')

    axios({
      method: 'post',
      url: `/accounts/isValidId/`,
      headers: { 'X-CSRFToken': '{{ csrf_token }}' },
      data: { 'username': USER_ID }
    }).then(response => {
      if (USER_ID.length < 5 || USER_ID.length > 16) {
        modalBody.innerText = "5~16자 영문 혹은 영문과 숫자를 조합"
      }
      else if (response.data.flag == false) {
        modalBody.innerText = "사용 가능한 아이디입니다"
      }
      else {
        modalBody.innerText = "사용 불가능한 아이디입니다"
      }
    })
  }
</script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
  function sample6_execDaumPostcode() {
    new daum.Postcode({
      oncomplete: function (data) {
        // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

        // 각 주소의 노출 규칙에 따라 주소를 조합한다.
        // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
        var addr = ''; // 주소 변수
        var extraAddr = ''; // 참고항목 변수

        //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
        if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
          addr = data.roadAddress;
        } else { // 사용자가 지번 주소를 선택했을 경우(J)
          addr = data.jibunAddress;
        }

        // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
        if (data.userSelectedType === 'R') {
          // 법정동명이 있을 경우 추가한다. (법정리는 제외)
          // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
          if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
            extraAddr += data.bname;
          }
          // 건물명이 있고, 공동주택일 경우 추가한다.
          if (data.buildingName !== '' && data.apartment === 'Y') {
            extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
          }
          // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
          if (extraAddr !== '') {
            extraAddr = ' (' + extraAddr + ')';
          }
          // 조합된 참고항목을 해당 필드에 넣는다.
          document.getElementById("sample6_extraAddress").value = extraAddr;

        } else {
          document.getElementById("sample6_extraAddress").value = '';
        }

        // 우편번호와 주소 정보를 해당 필드에 넣는다.
        document.getElementById('sample6_postcode').value = data.zonecode;
        document.getElementById("sample6_address").value = addr;
        // 커서를 상세주소 필드로 이동한다.
        document.getElementById("sample6_detailAddress").focus();
      }
    }).open();
  }
</script>
{% endblock %}