{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<div class="container my-5" style="width: 1070px; padding-bottom: 100px;">
  <div style="box-shadow: 4px 12px 30px 6px rgb(0 0 0 / 9%); border-radius: 0px;  margin-bottom: 100px;">
    <form action="" method="POST" enctype="multipart/form-data">
      <div class="">
        <svg viewbox="0 0 1440 320" xmlns="http://www.w3.org/2000/svg">
          <defs>
            <style type="text/css">
              .wave {
                animation: wave 8s linear infinite;
                transform: rotate(180deg);
              }

              .wave1 {
                animation: wave1 10s linear infinite;
                transform: rotate(180deg);
              }

              .wave2 {
                animation: wave2 12s linear infinite;
                transform: rotate(180deg);
              }

              @keyframes wave {
                0% {
                  transform: translateX(0%);
                }

                100% {
                  transform: translateX(100%);
                }
              }

              @keyframes wave1 {
                0% {
                  transform: scaleY(1.2) translateX(0%);
                }

                100% {
                  transform: scaleY(1.2) translateX(100%);
                }
              }

              @keyframes wave2 {
                0% {
                  transform: scaleY(.8) translateX(0%);
                }

                100% {
                  transform: scaleY(.8) translateX(100%);
                }
              }
            </style>
            <path id='sineWave' fill="#5e0080" fill-opacity="0.5"
              d="M0,160 C320,300,420,300,740,160 C1060,20,1120,20,1440,160 V0 H0" />
          </defs>
          <use class="wave" href="#sineWave" />
          <use class="wave" x="-100%" href="#sineWave" />
          <use class="wave1" href="#sineWave" />
          <use class="wave1" x="-100%" href="#sineWave" />
          <use class="wave2" href="#sineWave" />
          <use class="wave2" x="-100%" href="#sineWave" />
        </svg>
      </div>
      <div class="p-5">
        {% csrf_token %}
        <div class=" d-flex justify-content-end">
          <input class="btn" style="color: #5e0080; font-weight: 600;" type="submit" value="작성완료"></input>
        </div>
        <h2><input class="input-title form-control mb-3" style="border:0px; font-size: 1.5rem;" name="title"
            placeholder="제목을 입력해주세요." value="{{ article.title }}"  maxlength="20"></h2>
        <hr>
        <textarea rows="18" cols="10" class="form-control my-3" style="border:0px" name="content"
          placeholder="ㆍ 작성하신 후기는 치킨컬리 이용자에게 공개됩니다.&#13;&#10;&#13;&#10;ㆍ후기 작성 시 1,000원의 적립금을 영업일 기준 2일 전후로 지급합니다.&#13;&#10;&#13;&#10;ㆍ후기 도용 시 적립금 2배 회수, 1년간 커뮤니티 이용 제한, 3개월간 후기 적립금 지급이 중단됩니다.">{{ article.content }}</textarea>
        <!-- <input type="file" name="review_img" multiple="" accept="image/*" class="form-control" id="id_review_img"> -->
        <input type="file" name="image" accept="image/*" class="form-control" id="id_image">
    </form>
  </div>
</div>
<!-- <div class="container ">
  <h1 class='text-center'>글쓰기 페이지</h1>
  <hr>

  <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    {% bootstrap_form article_form %}

    <input type="submit" value="글쓰기">
  </form>
</div> -->

{% endblock content %}