{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load filter %}
{% load static %}

{% block content %}

<body style="background-color: rgb(245, 245, 245)">
  <div class='article-grid container' style="width: 1280px; padding: 40px 0;">
    <!-- 11 -->
    <div>
      <div class='d-flex flex-column align-items-center' style="position: sticky; top: 100px">
        <div>
          <a class="non_a" style="font-size: 1.4rem;" href="{% url 'articles:index' %}">
            <ion-icon name="arrow-back-outline" style="color: #3d3d3d; margin-bottom: 14px"></ion-icon>
          </a>
        </div>
        <form class='like-forms' data-article-id="{{ article.pk }}">
          {% csrf_token %}
          {% if request.user in article.like_users.all %}
          <div class="d-flex align-items-center justify-content-end">
            <button type="submit" class="d-flex flex-column align-items-center"
              style="border: 0px; background: transparent;" id='like-btn-{{ article.pk }}'>
              <ion-icon id='heart-{{ article.pk }}' style="color: #3d3d3d; font-size: 1.5rem; padding: 8px;"
                class="ion-icon active align-items-center" name="heart">
              </ion-icon>
              <span id='like-count-{{ article.pk }}' style="font-size: 14px; color: rgb(87, 87, 87)">
                {{ article.like_users.count }}</span>
            </button>
          </div>
          {% else %}
          <div class="d-flex flex-column align-items-center justify-content-end">
            <button type=" submit" class="d-flex flex-column align-items-center"
              style="border: 0px; background: transparent;" id='like-btn-{{ article.pk }}'>
              <ion-icon id='heart-{{ article.pk }}' style="color: #3d3d3d; font-size: 1.5rem; padding: 8px;"
                class="ion-icon d-flex align-items-center" name="heart"></ion-icon>
              <div style="font-size: 14px; color: rgb(87, 87, 87)" id='like-count-{{ article.pk }}'>
                {{ article.like_users.count }}</div>
            </button>
          </div>
          {% endif %}
        </form>
        <div class="d-flex flex-column align-items-center justify-content-end" style="margin-top: 14px;">
          <a href="#target">
            <ion-icon name="chatbubbles-outline" style="font-size: 1.5rem; padding: 8px; color: rgb(87, 87, 87);"
              data-anchor="anchor_1" onclick="scrollEvent(this)">
            </ion-icon>
          </a>
          <div style="font-size: 14px; color: rgb(87, 87, 87)">
            {{ comments.count }}
          </div>
        </div>
        <div>
          {% if request.user == article.user %}
          <div class='text-end'>
            <button type="button" class="btn btn-outline-primary fs-5" data-bs-toggle="modal"
              data-bs-target="#exampleModal" style="border: 0px;">
              <i class="bi bi-three-dots"></i>
            </button>
          </div>
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-sm">
              <div class="modal-content">
                <div class="modal-dody">
                  <table class="table text-center table-hover">
                    <tbody>
                      <tr class='text-danger' onclick="location.href='{% url 'articles:delete' article.pk %}'">
                      <tr class='text-danger' onclick="location.href='{% url 'articles:delete' article.pk %}'">

                        <td>삭제</td>
                      </tr>
                      <tr onclick="location.href='{% url 'articles:update' article.pk %}'">
                        <td>수정</td>
                      </tr>
                      <tr>
                        <td data-bs-dismiss="modal">닫기</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>

    <!-- 22 -->
    <div class="rounded-3" style="background-color: white; border: 1px solid rgb(222, 222, 222);">
      <div>
        <div class="text-center">
          {% if article.image %}
          <img class="rounded-3" style="width: 100%; height: 20rem; object-fit: cover;" src="{{ article.image.url }}"
            alt="image">
          {% else %}
          <img class="rounded" style="width: 100%; height: 20rem; object-fit:cover;"
            src="https://dummyimage.com/400/821db5/ffffff&text=+">
          {% endif %}
        </div>
        <div class="d-grid" style="grid-template-columns: 40px auto; padding: 32px 36px 0px; margin-bottom: 20px;">
          <span>
            {% if article.user.image %}
            <img src='{{ article.user.image }}' style="border-radius: 50%; width:40px; height:40px">
            {% else %}
            <img src="{% static 'images/android-icon-72x72.png' %}" style="border-radius: 50%; width:40px; height:40px">
            {% endif %}
          </span>
          <div class="d-flex flex-column" style="padding-left: 12px;">
            <p class="m-0 p-0" style="color: rgb(64, 64, 64); font-weight: 700;">{{ article.user.username}}</p>
            <p class="m-0 p-0" style="color: rgb(113, 113, 113); font-size: 12px;">Posted on
              {{ article.created_at|date:'Y년 m월 d일' }}<span class="mx-1"
                style="color: rgb(189, 189, 189);">•</span>published at <a
                href="{% url 'articles:index' %}">chicken-kurly</a></p>
          </div>
        </div>
        <h1 class="text-start my-5" style="font-weight: 800; padding: 0 36px">{{ article.title }}</h1>
        <div style="padding: 0 36px; text-rendering: optimizeSpeed;">
          {{ article.content|mark }}
        </div>
      </div>
      <hr id="anchor_1" style="margin: 3rem auto;">
      <!-- 댓글목록 -->
      <div style="padding: 0 24px;">
        <div style="font-size: 18px; font-weight: 700">댓글 <span style="color:#7f1ba4">
            {{ comments.count }}</span>
        </div>
      </div>
      <!-- 댓글 입력 폼 -->
      <form action="{% url 'articles:c_create' article.pk %}" method="POST" id="comment-form"
        data-article-id="{{ article.pk }}">
        {% csrf_token %}
        <div style="width: 100%; padding: 24px;">
          <div class="row" style="padding: 0 36px;">
            <input type="text" name="comment" maxlength="200" placeholder="댓글을 작성하세요." required="" id="comment"
              style="border: 0px; border-bottom:2px solid rgb(204, 204, 204); border-radius: 0px;">
            <div class="d-flex justify-content-end p-0">
              <button class="btn non_a text-end mt-3"
                style="background-color: #5e0080; color: white; font-weight:500; padding: 12 16px;"
                type="submit">댓글작성</button>
            </div>
          </div>
        </div>
      </form>
      {% if comments %}
      {% for comment in paginated_comments %}
      <div class='d-grid' style="padding: 0 24px; grid-template-columns: 40px auto;">
        <span style="margin-top: 24px; padding-top: 14px;">
          {% if comment.user.image %}
          <img src='{{ comment.user.image }}' style="border-radius: 50%; width:32px; height:32px">
          {% else %}
          <img src="{% static 'images/android-icon-72x72.png' %}" style="border-radius: 50%; width:32px; height:32px">
          {% endif %}
        </span>
        <div class='d-flex flex-column'
          style="padding: 14px 12px; margin: 1.5rem 0; border: 1px solid rgb(231, 231, 231); border-radius: 10px;">

          <!-- 댓글 작성자, 시간 -->
          <div class="flex-grow-1">
            <div class="d-flex align-items-center justify-content-between">
              <div>
                <span style="font-size: 1rem"><a class="non_a" href="{% url 'accounts:profile' comment.user.pk %}"
                    style="font-weight: 600; color: rgb(61, 61, 61);">{{ comment.user }}</a></span>
                <span class="mx-1" style="color: rgb(189, 189, 189);">•</span>
                <span style="color: rgb(113, 113, 113); font-weight: 400; font-size: 14px;">
                  {{ comment.created_at|date:'Y년 m월 d일' }}</span>
              </div>
              {% if request.user == comment.user %}
              <span>
                <a href="{% url 'articles:c_delete' comment.pk article.pk %}">
                  <span style="color: #e83c4b; display: inline-block; transform: translateY(3px); font-size: 1rem;">
                    <i class="bi bi-x"></i>
                  </span>
                </a>
              </span>
              {% endif %}
            </div>
            <div style="margin: 12px 0 16px;">
              <p class="text-break m-0" style="font-size: 18px; line-height: 27px">{{ comment.content }}
              </p>
            </div>
            <!-- 댓글 좋아요 -->
            <div class="d-flex align-items-center">
              <form class="comment-like-forms" data-comment-id="{{ comment.pk }}">
                {% if request.user in comment.like_users.all %}
                <button type="submit" class="d-flex text-center" style="border: 0px; background: transparent;"
                  id='comment-like-btn-{{ comment.pk }}'>
                  <div class="fs-6" style="color: #7f1ba4">
                    <span>
                      <i id='thumbs-up-{{ comment.pk }}' class="bi bi-hand-thumbs-up-fill"></i>
                    </span>
                    <span class="me-3" id='comment-like-count-{{ comment.pk }}' style="font-size: 14px;">
                      {{ comment.like_users.count }}
                    </span>
                  </div>
                </button>
                {% else %}
                <button type="submit" class="d-flex text-center" style="border: 0px; background: transparent;"
                  id='comment-like-btn-{{ comment.pk }}'>
                  <div class="fs-6" style="color: #7f1ba4">
                    <span>
                      <i id='thumbs-up-{{ comment.pk }}' class="bi bi-hand-thumbs-up"></i>
                    </span>
                    <span class="me-3" id='comment-like-count-{{ comment.pk }}' style="font-size: 14px;">
                      {{ comment.like_users.count }}
                    </span>
                  </div>
                </button>
                {% endif %}
              </form>
              <p class="m-0 p-0" style="font-size: 14px; color:rgb(61, 61, 61)">
                <button class="btn m-0 p-0" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseExample-{{ comment.pk }}" aria-expanded="false"
                  aria-controls="collapseExample" style="font-size: 14px; color: rgb(61, 61, 61)">
                  답글
                </button>
              </p>
            </div>
          </div>
          <!-- 댓글 내용 -->

          <!-- 대댓글 -->

          <div class="collapse flex-grow-1" id="collapseExample-{{ comment.pk }}">
            <div class="card card-body w-100" style="border: rgb(231, 231, 231);">
              <div class='p-1 '>
                <!-- 대댓글 입력창 -->
                <form class="row" style="padding: 0 20px;"
                  action="{% url 'articles:rec_detail_create' comment.pk article.pk %}" method='POST'
                  enctype='multipart/form-data'>
                  {% csrf_token %}
                  <input type="text" name="content" maxlength="200" class="col-10" placeholder="답글을 작성하세요." required=""
                    id="id_content" style="border: 0px; border-bottom:2px solid rgb(61, 61, 61); border-radius: 0px">
                  <button class="btn col-2 non_a" type="submit">답글추가</button>
                </form>
                <div
                  style="display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 12; overflow: hidden;">
                  <!-- 대댓글 목록 -->
                  {% for recomment in recomments %}

                  {% if recomment.comment.pk == comment.pk %}
                  <div class='my-5 d-grid' style="grid-template-columns: 40px auto;">
                    <span style="">
                      {% if comment.user.image %}
                      <img src='{{ comment.user.image }}' style="border-radius: 50%; width:32px; height:32px">
                      {% else %}
                      <img src="{% static 'images/android-icon-72x72.png' %}"
                        style="border-radius: 50%; width:32px; height:32px">
                      {% endif %}
                    </span>
                    <div class="d-flex align-items-center justify-content-between">
                      <div>
                        <span><a class="non_a" href="{% url 'accounts:profile' recomment.user.pk %}"
                            style="font-weight: 600; color: rgb(61, 61, 61);">{{ recomment.user }}</a></span>
                        <span class="mx-1" style="color: rgb(189, 189, 189);">•</span>
                        <span style="color: rgb(113, 113, 113); font-weight: 400; font-size: 14px">
                          {{ recomment.created_at|date:'Y년 m월 d일 H시 t분 s초' }}</span>

                        {% if request.user == recomment.user %}
                        <span>
                          <a href="{% url 'articles:recomment_delete' recomment.pk article.pk %}">
                            <span style="color: #e83c4b; display: inline-block; transform: translateY(3px);">
                              <i class="bi bi-x"></i>
                            </span>
                          </a>
                        </span>
                        {% endif %}
                        <div class="text-break" style="margin-top: 12px;">
                          {{ recomment.content }}
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endif %}

                  {% endfor %}
                </div>
                <p class="text-end">
                  <a class="non_a" href="{% url 'articles:rec_detail' comment.pk article.pk %}"
                    style="font-weight:600 ;">더보기</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      {% endif %}
      <!-- 댓글 페이지네이션 -->
      {% if paginated_comments %}
      <ul class="pagination justify-content-center">
        <!-- 첫 페이지 -->
        {% if paginated_comments.has_previous %}
        <!-- 이전페이지가 있으면 연결(첫 페이지가 아니면) -->
        <li class="page-item">
          <a class="page-link" style="color: #5e0080; text-decoration: none;" tabindex="-1" href="?page=1">&#60;</a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#">&#60;</a>
        </li>
        {% endif %}

        <!-- 페이지리스트 -->
        <!-- //페이지 범위를 하나씩 리턴 -->
        {% for page_number in paginated_comments.paginator.page_range %}
        {% if page_number >= paginated_comments.number|add:-2 and page_number <= paginated_comments.number|add:2 %} <!--
          // 현재 페이지일 때는 active -->
          {% if page_number == paginated_comments.number %}
          <li class="page-item" aria-current="page">
            <a class="page-link" style="background-color: #5e0080; color: white; text-decoration: none;"
              href="?page={{ page_number }}">{{ page_number }}</a>
          </li>
          {% else %}
          <li class="page-item text-color-warning">
            <a class="page-link" style="color: #5e0080; text-decoration: none;" href="?page={{ page_number }}">
              {{ page_number }}</a>
          </li>
          {% endif %}
          {% endif %}
          {% endfor %}

          <!-- 다음페이지 -->
          {% if paginated_comments.has_next %}
          <li class="page-item">
            <a class="page-link" style="color: #5e0080; text-decoration: none;" href="?page={{ max_index }}">&#62;</a>
          </li>
          {% else %}
          <li class="page-item disabled">
            <a class="page-link" tabindex="-1" href="#">&#62;</a>
          </li>
          {% endif %}
      </ul>
      {% else%}
      <h4 class="text-center" style="color:rgb(204, 204, 204); padding: 100px 0;">첫 댓글의 주인공이 되어보세요 👀</h4>
      {% endif %}
    </div>
    <!-- 33 -->
    <div>
      <div class="rounded"
        style="background-color: white; border-top: 32px solid; border-top-color: #5e008078; position: sticky; top: 60px; border: 1px solid rgb(222, 222, 222);">
        <div style="padding: 0 12px;">
          {% if article.user.image %}
          <img src="{{ article.user.image }}" style="border-radius: 50px; width:48px; height: 48px; margin-top: -16px;">
          {% else %}
          <img src="{% static 'images/android-icon-72x72.png' %}"
            style="border-radius: 50px; width:48px; height: 48px; margin-top: -16px; object-fit: cover;">
          {% endif %}
          <span style="color: rgb(64, 64, 64); font-weight: 700; font-size: 20px"><a class="non_a"
              href="{% url 'accounts:profile' article.user.pk %}">{{ article.user.username }}</a></span>
        </div>
        <div style="padding: 0 12px; margin-top: 1rem;">
          <p class="m-0 p-0" style="font-size: 12px; font-weight: 700; color: rgb(82, 82, 82);">회원등급</p>
          <p class="m-0 p-0" style="font-size: 16px; color: rgb(64, 64, 64)">
            {{ article.user.rating }}</p>
        </div>
        <div style="padding: 0 12px; margin-top: 1rem;">
          <p class="m-0 p-0" style="font-size: 12px; font-weight: 700; color: rgb(82, 82, 82);">가입일</p>
          <p class="m-0 p-0" style="font-size: 16px; color: rgb(64, 64, 64)">
            {{ article.user.date_joined|date:'Y년 m월 d일' }}</p>
        </div>
      </div>

    </div>
  </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  // 게시글 좋아요 비동기 
  const forms = document.querySelectorAll('.like-forms')
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

  forms.forEach((form) => {
    form.addEventListener('submit', function (event) {
      event.preventDefault()
      const articleId = event.target.dataset.articleId

      axios({
        method: 'post',
        url: `/articles/like/${event.target.dataset.articleId}/`,
        headers: { 'X-CSRFToken': csrftoken },
      })
        .then((response) => {
          const likeBtn = document.querySelector(`#like-btn-${articleId}`)
          const likeCount = document.querySelector(`#like-count-${articleId}`)
          const isLiked = response.data.is_liked
          const heart = document.querySelector(`#heart-${articleId}`)

          if (isLiked === true) {
            heart.classList.add('active')
            // heart.classList.remove('bi-heart')
            // likeBtn.classList.remove('btn-outline-danger')
            // likeBtn.classList.add('btn-danger')
            likeCount.innerText = response.data.likeCount
          } else {
            // heart.classList.add('bi-heart')
            heart.classList.remove('active')
            // likeBtn.classList.remove('btn-danger')
            // likeBtn.classList.add('btn-outline-danger')

            likeCount.innerText = response.data.likeCount
          }

        })
        .catch((error) => {
          console.log(error.response)
        })
    })
  })

  // 댓글 좋아요 비동기
  const commentforms = document.querySelectorAll('.comment-like-forms')
  const commentcsrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

  commentforms.forEach((form) => {
    form.addEventListener('submit', function (event) {
      event.preventDefault()
      const commentId = event.target.dataset.commentId

      axios({
        method: 'post',
        url: `/articles/c_like/${event.target.dataset.commentId}/`,
        headers: { 'X-CSRFToken': commentcsrftoken },
      })
        .then((response) => {
          const commentlikeBtn = document.querySelector(`#comment-like-btn-${commentId}`)
          const likeCount = document.querySelector(`#comment-like-count-${commentId}`)
          const commentisLiked = response.data.comment_is_liked
          const thumbsUp = document.querySelector(`#thumbs-up-${commentId}`)
          console.log(likeCount)

          if (commentisLiked === true) {
            thumbsUp.classList.remove('bi-hand-thumbs-up')
            thumbsUp.classList.add('bi-hand-thumbs-up-fill')
            // heart.classList.remove('bi-heart')
            // likeBtn.classList.remove('btn-outline-danger')
            // likeBtn.classList.add('btn-danger')
            likeCount.innerText = response.data.like_count
          } else {
            thumbsUp.classList.remove('bi-hand-thumbs-up-fill')
            thumbsUp.classList.add('bi-hand-thumbs-up')
            // heart.classList.add('bi-heart')
            // likeBtn.classList.remove('btn-danger')
            // likeBtn.classList.add('btn-outline-danger')
            likeCount.innerText = response.data.like_count
          }

        })
    })
  })



</script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

<script>
  // 댓글 비동기 구현 코드 ㅠㅠ 일단 보류..
  {% comment %} const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
  const commentForm = document.querySelector('#comment-form')
  commentForm.addEventListener('submit', function (event) {
    event.preventDefault()
    axios({
      method: 'post',
      url: `/articles/comment/${event.target.dataset.articleId}/`,
      headers: { 'X-CSRFToken': csrftoken },
      data: new FormData(commentForm)
    })
      .then(response => {
        console.log(response.data)

        const comments = document.querySelector('#comments')
        const div = document.createElement('div')
        div.classList.add('mx-2')
        div.style.margin = '-2px'
        const span = document.createElement('span')
        span.innerText = `${response.data.userName}`
        span.classList.add('fs-5')
        span.classList.add('fw-semibold')
        span.style.color = '#5e0080'
        const p = document.createElement('p')
        p.innerText = `${response.data.content}`
        div.appendChild(span)
        div.appendChild(p)
        comments.append(div)
        const commentInput = document.querySelector('#comment')
        commentInput.value = ''
      })
  })
  {% endcomment %}

</script>

<script>
  function scrollEvent(_params, speed) {
    let anchor_id = $(_params).attr('data-anchor');
    if (!speed) var speed = 'slow';
    var a_tag = $("#" + anchor_id);
    if (a_tag.length > 0) {
      $('html, body').animate({
        scrollTop: a_tag.offset().top
      }, speed);
    }
  }
</script>

{% endblock content %}