{% extends 'base.html' %}

{% block content %}
<div class='container'>
  <h1 class='text-center'>Detail</h1><hr>
  {{ article.title }}
  <hr>
  {{ article.content }}
  <hr>
  <!-- 댓글창 -->
  {% for comment in comments %}
  <div class='mx-2' sytle='margin: -2px;'>
    <span class='fs-6 fw-bold'>{{ comment.user }}</span><span class='fs-6 opacity-75'>  {{ comment.created_at }}</span>
    <p class='fs-6 opacity-75'>{{ comment.content }}
      <span>
        <a href="{% url 'articles:c_delete' comment.pk article.pk %}">
          <span class="fs-4" style="color: #e83c4b; display: inline-block; transform: translateY(3px);">
            <i class="bi bi-x"></i>
          </span>
            </a>
          </span>
        </p>                            
      </div>                        
    {% endfor %}
    <!-- 댓글 입력 폼 -->
    <form action="{% url 'articles:c_create' article.pk %}" method="POST" name="comment">
      {% csrf_token %}
      <div class="d-flex justify-content-evenly fs-6">
        <div>
          <input style="width: 27rem; border: 1px solid; padding: 0.3rem 0;" type="text" placeholder="댓글을 입력해주세요" name="comment" id="comment" maxlength ="90"required>
        </div>
        <div>
          <button class="btn btn-primary btn-sm " type="submit">등록</button>
        </div>
    </div>
    </form>
  </div>
{% endblock content %}