{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-12 p-5">
      <h1 class='text-center'>자유게시판</h1><hr>
      <div class='text-end'>
        <a class='btn btn-primary btn-sm' href="{% url 'articles:create' %}"> 글쓰기</a>
      </div>

      {% for article in paginated_articles %}
          <div class="card mx-auto mb-3 my-3" style="max-width: 610px;">
            <div class="row g-0">
              <!-- 카드 이미지 -->
              <div class="col-4">
                {% if article.image %}
                  <img src="{{ article.image.url }}" class="img-fluid rounded-start" alt="{{ article.image }}">
                {% else %}
                  <img src="https://dummyimage.com/200x215/000/fff" class="img-fluid rounded-start" alt="img">
                {% endif %}
              </div>
              <div class="col-8">
                <div class="card-body">
                  <div class='text-end fs-5' style="margin: -7px;">
                    <form class='like-forms' data-article-id="{{ article.pk }}">
                      {% csrf_token %}
                      {% if request.user in article.like_users.all %}
                        <button type="submit" class="btn btn-danger btn-sm" id='like-btn-{{ article.pk }}' value="좋아요 취소">♥<span class="fs-6" id='like-count-{{ article.pk }}'>{{ article.like_users.count }}</span></button>
                      {% else %}
                        <button type="submit" class="btn btn-outline-danger btn-sm" id='like-btn-{{ article.pk }}' value="좋아요">♥<span class="fs-6" id='like-count-{{ article.pk }}'>{{ article.like_users.count }}</span></button>
                      {% endif %}
                    </form>
                  </div>
                  <h4>
                    <!-- 카드 타이틀 -->
                    <a
                    href="
                    {% url 'articles:detail' article.pk %}"
                    style="
                      min-height: 1.5rem;
                      text-overflow: ellipsis;
                      overflow: hidden;
                      word-break: break-word;
                      display: -webkit-box;
                      -webkit-line-clamp: 1;
                      -webkit-box-orient: vertical">
                      {{ article.title }}</a>
                  <!-- 글작성자, 작성시간 -->
                  <p class="fs-6">
                    <a href="{% url 'accounts:profile' article.user.pk %}">{{ article.user }}</a>  |  {{ article.created_at }}  |
                  </p>
                  <hr>
                  <!-- 글 내용 요약 -->
                  <p style="
                  min-height: 1rem;
                  text-overflow: ellipsis;
                  overflow: hidden;
                  word-break: break-word;
                  display: -webkit-box;
                  -webkit-line-clamp: 1;
                  -webkit-box-orient: vertical">
                    {{ article.content }}
                </p>
                </div>
                <div class='text-end mx-2'>
                  <a href="{% url 'articles:update' article.pk %}" style="text-decoration: none;"><span class='text-primary opacity-75'>수정</span></a>
                  <a href="{% url 'articles:delete' article.pk %}" style="text-decoration: none;"><span class='text-danger opacity-75'>삭제</span></a>
                </div>
              </div>
            </div>
          </div>
      {% endfor %}

      <!-- 게시글 페이지네이션 -->
      {% if paginated_articles %}
        <ul class="pagination justify-content-center">
          <!-- 첫 페이지 -->
          {% if paginated_articles.has_previous %}
            <!-- 이전페이지가 있으면 연결(첫 페이지가 아니면) -->
            <li class="page-item">
              <a class="page-link" tabindex="-1" href="?page=1">&#60;</a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="#">&#60;</a>
            </li>
          {% endif %}

          <!-- 페이지리스트 -->
          <!-- //페이지 범위를 하나씩 리턴 -->
          {% for page_number in paginated_articles.paginator.page_range %}
            {% if page_number >= paginated_articles.number|add:-2 and page_number <= paginated_articles.number|add:2 %}
                <!-- // 현재 페이지일 때는 active -->
                {% if page_number == paginated_articles.number %}
                  <li class="page-item active" aria-current="page">
                    <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                  </li>
                {% else %}
                  <li class="page-item text-color-warning">
                    <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                  </li>
                {% endif %}
            {% endif %}
          {% endfor %}

          <!-- 다음페이지 -->
          {% if paginated_articles.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ max_index }}">&#62;</a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <a class="page-link" tabindex="-1" href="#">&#62;</a>
            </li>
          {% endif %}
        </ul>
      {% endif %}
    </div>
  </div>
</div>


  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    const forms = document.querySelectorAll('.like-forms')
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

    forms.forEach((form) => {
      form.addEventListener('submit', function (event) {
        event.preventDefault()
        const articleId = event.target.dataset.articleId

       axios({
          method: 'post',
          url: `/articles/like/${event.target.dataset.articleId}/`,
          headers: {'X-CSRFToken': csrftoken},
        })
          .then((response) => {
            const likeBtn = document.querySelector(`#like-btn-${articleId}`)
            const likeCount = document.querySelector(`#like-count-${articleId}`)
            const isLiked = response.data.is_liked
            console.log(isLiked)
            console.log(likeCount)
            
            if (isLiked === true) {
              likeBtn.classList.replace("btn-outline-danger", "btn-danger")
              likeCount.innerText = response.data.likeCount
            } else {
              likeBtn.classList.replace("btn-danger", "btn-outline-danger")
              likeCount.innerText = response.data.likeCount
            }

          })
          .catch((error) => {
            console.log(error.response)
          })
        })
    })

</script>
{% endblock content %}