{% extends 'base.html' %}

{% block content %}

  <h1 class='text-center'>Review</h1><hr>
  <div class='text-end'>
    <a class='btn btn-primary btn-sm' href="{% url 'articles:create' %}"> 글쓰기</a>
  </div>

  {% for article in paginated_articles %}
      <div class="card mx-auto mb-3 my-3" style="max-width: 610px;">
        <div class="row g-0">
          <!-- 카드 이미지 -->
          <div class="col-md-4">
            {% if article.image %}
              <img src="{{ article.image.url }}" class="img-fluid rounded-start" alt="{{ article.image }}">
            {% else %}
              <img src="https://dummyimage.com/200x215/000/fff" class="img-fluid rounded-start" alt="img">
            {% endif %}
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <div class='text-end fs-5' style="margin: -7px;">
                {% if request.user in article.like_users.all %}
                <a href="{% url 'articles:like' article.pk %}" style='text-decoration: none;'><i class="bi bi-heart-fill" style="color: red;">{{ article.like_users.count}}</i></a>
                {% else %}
                <a href="{% url 'articles:like' article.pk %}" style='text-decoration: none;'><i class="bi bi-heart" style="color: red;">{{ article.like_users.count}}</i></a>
                {% endif %}
              </div>
              <h4>
                <!-- 카드 타이틀 -->
                <a
                 href="
                 {% url 'articles:detail' article.pk %}"
                 style="
                  min-height: 1.5rem;
                  text-overflow: ellipsis;
                  overflow: hidden;
                  word-break: break-word;
                  display: -webkit-box;
                  -webkit-line-clamp: 1;
                   -webkit-box-orient: vertical">
                   {{ article.title }}</a>
              <!-- 글작성자, 작성시간 -->
              <p class="fs-6">
                <a href="{% url 'accounts:profile' article.user.pk %}">{{ article.user }}</a>  |  {{ article.created_at }}  |
              </p>
              <hr>
              <!-- 글 내용 요약 -->
              <p style="
              min-height: 1rem;
              text-overflow: ellipsis;
              overflow: hidden;
              word-break: break-word;
              display: -webkit-box;
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical">
                {{ article.content }}
            </p>
            </div>
            <div class='text-end mx-2'>
              <a href="{% url 'articles:update' article.pk %}" style="text-decoration: none;"><span class='text-primary opacity-75'>수정</span></a>
              <a href="{% url 'articles:delete' article.pk %}" style="text-decoration: none;"><span class='text-danger opacity-75'>삭제</span></a>
            </div>
          </div>
        </div>
      </div>
  {% endfor %}

  <!-- 게시글 페이지네이션 -->
  {% if paginated_articles %}
    <ul class="pagination justify-content-center">
      <!-- 첫 페이지 -->
      {% if paginated_articles.has_previous %}
        <!-- 이전페이지가 있으면 연결(첫 페이지가 아니면) -->
        <li class="page-item">
          <a class="page-link" tabindex="-1" href="?page=1">&#60;</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#">&#60;</a>
        </li>
      {% endif %}

      <!-- 페이지리스트 -->
      <!-- //페이지 범위를 하나씩 리턴 -->
      {% for page_number in paginated_articles.paginator.page_range %}
        {% if page_number >= paginated_articles.number|add:-2 and page_number <= paginated_articles.number|add:2 %}
            <!-- // 현재 페이지일 때는 active -->
            {% if page_number == paginated_articles.number %}
              <li class="page-item active" aria-current="page">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
              </li>
            {% else %}
              <li class="page-item text-color-warning">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
              </li>
            {% endif %}
        {% endif %}
      {% endfor %}

      <!-- 다음페이지 -->
      {% if paginated_articles.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ max_index }}">&#62;</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" tabindex="-1" href="#">&#62;</a>
        </li>
      {% endif %}
    </ul>
  {% endif %}


{% endblock content %}