{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<div class='container'>
  <div class="text-end">
    <a href="{% url 'articles:detail' article.pk %}" class="btn btn-outline-primary fs-6">뒤로가기</a>
  </div>
  <hr>
  <div class='mx-2' sytle='margin: -2px;'>
    <div class='d-flex'>
      <!-- 댓글 작성자, 시간 -->
      <div class="flex-grow-1">
        <span class='fs-5 fw-semibold'><a class="non_a" href="{% url 'accounts:profile' comment.user.pk %}" style="text-decoration: none; color: #5e0080;">{{ comment.user }}</a></span>
        <span class='fs-6 opacity-50 fst-italic'> {{ comment.created_at }}</span>
        {% if request.user == comment.user %}
        <span>
          <a href="">
            <span class="fs-4" style="color: #e83c4b; display: inline-block; transform: translateY(3px);">
              <i class="bi bi-x"></i>
            </span>
          </a>
        </span>
        {% endif %}
      </div>
      <!-- 댓글 좋아요 -->
      <div>
        <form class="comment-like-forms" data-comment-id="{{ comment.pk }}">
          {% if request.user in comment.like_users.all %}
            <button type="submit" class="d-flex text-center" style="border: 0px; background: transparent;" id='comment-like-btn-{{ comment.pk }}'>
              <div class="fs-6" style="color: red;">
                <span>
                  <i id='thumbs-up-{{ comment.pk }}' class="bi bi-hand-thumbs-up-fill"></i>
                </span>
                <span id='comment-like-count-{{ comment.pk }}'>
                  {{ comment.like_users.count }}
                </span>
              </div>
            </button>
          {% else %}
          <button type="submit" class="d-flex text-center" style="border: 0px; background: transparent;" id='comment-like-btn-{{ comment.pk }}'>
            <div class="fs-6" style="color: red;">
              <span>
                  <i id='thumbs-up-{{ comment.pk }}' class="bi bi-hand-thumbs-up"></i>
              </span>
              <span id='comment-like-count-{{ comment.pk }}'>
                {{ comment.like_users.count }}
              </span>
          </div>
          </button>
          {% endif %}
        </form>
      </div>
    </div>
  </div>
  <!-- 댓글 내용 -->
  <div>
    <p class='fs-6 text-break'>{{ comment.content }}</p>
  </div>
  <hr>
  <!-- 대댓글 -->
  <div class="p-2">
    <!-- 대댓글 목록 -->
    {% for recomment in paginated_recomments %}
      {% if recomment.comment.pk == comment.pk %}
        <div class='my-1'>
          <div>
            <span><a class="non_a" href="{% url 'accounts:profile' recomment.user.pk %}" style="text-decoration: none; color: #5e0080;">{{ recomment.user }}</a></span>
            <span>{{ recomment.created_at }}</span>
            {% if request.user == recomment.user %}
            <span>
              <a href="{% url 'articles:rec_delete' recomment.pk comment.pk article.pk %}">
                <span class="fs-4" style="color: #e83c4b; display: inline-block; transform: translateY(3px);">
                  <i class="bi bi-x"></i>
                </span>
              </a>
            </span>
            {% endif %}
          </div>
          <div class="text-break">
            {{ recomment.content }}
          </div>
        </div>
      {% endif %}
    {% endfor %}    
    
        <!-- 댓글 페이지네이션 -->
        {% if paginated_recomments %}
          <ul class="pagination justify-content-center">
            <!-- 첫 페이지 -->
            {% if paginated_recomments.has_previous %}
              <!-- 이전페이지가 있으면 연결(첫 페이지가 아니면) -->
              <li class="page-item">
                <a class="page-link" style="color: #5e0080; text-decoration: none;" tabindex="-1" href="?page=1">&#60;</a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <a class="page-link" href="#">&#60;</a>
              </li>
            {% endif %}
        
            <!-- 페이지리스트 -->
            <!-- //페이지 범위를 하나씩 리턴 -->
            {% for page_number in paginated_recomments.paginator.page_range %}
              {% if page_number >= paginated_recomments.number|add:-2 and page_number <= paginated_recomments.number|add:2 %}
                <!-- // 현재 페이지일 때는 active -->
                {% if page_number == paginated_recomments.number %}
                <li class="page-item" aria-current="page">
                  <a class="page-link" style="background-color: #5e0080; color: white; text-decoration: none;"
                    href="?page={{ page_number }}">{{ page_number }}</a>
                </li>
                {% else %}
                <li class="page-item text-color-warning">
                  <a class="page-link" style="color: #5e0080; text-decoration: none;" href="?page={{ page_number }}">{{ page_number }}</a>
                </li>
                {% endif %}
              {% endif %}
            {% endfor %}
        
            <!-- 다음페이지 -->
            {% if paginated_recomments.has_next %}
              <li class="page-item">
                <a class="page-link" style="color: #5e0080; text-decoration: none;" href="?page={{ max_index }}">&#62;</a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <a class="page-link" tabindex="-1" href="#">&#62;</a>
              </li>
            {% endif %}
          </ul>
        {% endif %}
        <!-- 대댓글 입력창 -->
        <form action="{% url 'articles:rec_detail_create' comment.pk article.pk %}" method='POST' enctype='multipart/form-data' maxlength="200">
          {% csrf_token %}
          {% bootstrap_form recomment_form %}
          {% bootstrap_button button_type='submit' content='글쓰기' %}
        </form>
  </div>
</div>

<script>
  // 댓글 좋아요 비동기
  const commentforms = document.querySelectorAll('.comment-like-forms')
  const commentcsrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

  commentforms.forEach((form) => {
    form.addEventListener('submit', function (event) {
      event.preventDefault()
      const commentId = event.target.dataset.commentId

      axios({
        method: 'post',
        url: `/articles/c_like/${event.target.dataset.commentId}/`,
        headers: { 'X-CSRFToken': commentcsrftoken },
      })
        .then((response) => {
          const commentlikeBtn = document.querySelector(`#comment-like-btn-${commentId}`)
          const likeCount = document.querySelector(`#comment-like-count-${commentId}`)
          const commentisLiked = response.data.comment_is_liked
          const thumbsUp = document.querySelector(`#thumbs-up-${commentId}`)
          console.log(likeCount)

          if (commentisLiked === true) {
            thumbsUp.classList.remove('bi-hand-thumbs-up')
            thumbsUp.classList.add('bi-hand-thumbs-up-fill')
            // heart.classList.remove('bi-heart')
            // likeBtn.classList.remove('btn-outline-danger')
            // likeBtn.classList.add('btn-danger')
            likeCount.innerText = response.data.like_count
          } else {
            thumbsUp.classList.remove('bi-hand-thumbs-up-fill')
            thumbsUp.classList.add('bi-hand-thumbs-up')
            // heart.classList.add('bi-heart')
            // likeBtn.classList.remove('btn-danger')
            // likeBtn.classList.add('btn-outline-danger')
            likeCount.innerText = response.data.like_count
          }

        })
    })
  })
 

</script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>


{% endblock content %}