{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<body style="background-color: rgb(245, 245, 245)">
  <div class='comment-grid container ' style="width: 1280px; padding: 40px 0;">
    <div class='my-5 d-grid' style="grid-template-columns: 40px auto;">
    {% comment %} 뒤로 가기 버튼 {% endcomment %}
      <div>
        <a class="non_a" style="font-size: 1.4rem;" href="{% url 'articles:detail' article.pk %}">
            <ion-icon name="arrow-back-outline" style="color: #3d3d3d; margin-bottom: 14px"></ion-icon>
          </a>
      </div>

      <div class="rounded-3" style="background-color: white; border: 1px solid rgb(222, 222, 222);">
        <div class='mx-2 mt-2' style='margin: -2px;'>
          <div class='d-flex flex-column'>
            <!-- 댓글 작성자, 시간 -->
            <div class="flex-grow-1 px-3 py-2" >
              <div class="d-flex align-items-center justify-content-between">
                <div>
                  <span style="font-size: 1rem"><a class="non_a" href="{% url 'accounts:profile' comment.user.pk %}"
                      style="font-weight: 600; color: rgb(61, 61, 61);">{{ comment.user }}</a></span>
                  <span class="mx-1" style="color: rgb(189, 189, 189);">•</span>
                  <span style="color: rgb(113, 113, 113); font-weight: 400; font-size: 14px;">
                    {{ comment.created_at|date:'Y년 m월 d일' }}</span>
                </div>
                <!-- 댓글 삭제 --> 
                {% if request.user == comment.user %}
                <span>
                  <a href="{% url 'articles:c_delete' comment.pk article.pk %}">
                    <span style="color: #e83c4b; display: inline-block; transform: translateY(3px); font-size: 1rem;">
                      <i class="bi bi-x"></i>
                    </span>
                  </a>
                </span>
                {% endif %}
              </div>
              <!-- 댓글 내용 및 좋아요 버튼, 좋아요 갯수 -->
              <div style="margin: 12px 0 16px;">
                <p class="text-break m-0" style="font-size: 18px; line-height: 27px">{{ comment.content }}
                </p>
              </div>
              <div class="d-flex align-items-center">
                <form class="comment-like-forms" data-comment-id="{{ comment.pk }}">
                  {% if request.user in comment.like_users.all %}
                  <button type="submit" class="d-flex text-center" style="border: 0px; background: transparent;"
                    id='comment-like-btn-{{ comment.pk }}'>
                    <div class="fs-6" style="color: #7f1ba4">
                      <span>
                        <i id='thumbs-up-{{ comment.pk }}' class="bi bi-hand-thumbs-up-fill"></i>
                      </span>
                      <span class="me-3" id='comment-like-count-{{ comment.pk }}' style="font-size: 14px;">
                        {{ comment.like_users.count }}
                      </span>
                    </div>
                  </button>
                  {% else %}
                  <button type="submit" class="d-flex text-center" style="border: 0px; background: transparent;"
                    id='comment-like-btn-{{ comment.pk }}'>
                    <div class="fs-6" style="color: #7f1ba4">
                      <span>
                        <i id='thumbs-up-{{ comment.pk }}' class="bi bi-hand-thumbs-up"></i>
                      </span>
                      <span class="me-3" id='comment-like-count-{{ comment.pk }}' style="font-size: 14px;">
                        {{ comment.like_users.count }}
                      </span>
                    </div>
                  </button>
                  {% endif %}
                </form>
              </div> 

            </div>
            <hr class='border-3 opacity-100 '>
            <!-- 대댓글 -->
            <div class="card card-body w-100" style="border: rgb(231, 231, 231);">
              <div class='p-1 '>
                <!-- 대댓글 목록 -->
                <div style="display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 12; overflow: hidden;">
                  {% for recomment in recomments %}

                  {% if recomment.comment.pk == comment.pk %}
                  <div class='my-5 d-grid' >
                    <div class="d-flex align-items-center justify-content-between">
                      <div>
                        <span><a class="non_a" href="{% url 'accounts:profile' recomment.user.pk %}"
                            style="font-weight: 600; color: rgb(61, 61, 61);">{{ recomment.user }}</a></span>
                        <span class="mx-1" style="color: rgb(189, 189, 189);">•</span>
                        <span style="color: rgb(113, 113, 113); font-weight: 400; font-size: 14px">
                          {{ recomment.created_at|date:'Y년 m월 d일 H시 t분 s초' }}</span>

                        {% if request.user == recomment.user %}
                        <span>
                          <a href="{% url 'articles:rec_delete' recomment.pk comment.pk article.pk %}">
                            <span style="color: #e83c4b; display: inline-block; transform: translateY(3px);">
                              <i class="bi bi-x"></i>
                            </span>
                          </a>
                        </span>
                        {% endif %}
                        <div class="text-break" style="margin-top: 12px;">
                          {{ recomment.content }}
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endif %}

                  {% endfor %}
                </div>  
                <!-- 대댓글 입력창 -->
                <div class='mb-2'> 
                  <form action="{% url 'articles:rec_detail_create' comment.pk article.pk %}" method='POST' enctype='multipart/form-data' maxlength="200">
                    {% csrf_token %}
                    {% bootstrap_form recomment_form %}
                    <button type="submit" class="btn mb-2" style='background-color:#5e0080; color:white;'>OK</button>
                  </form>
                </div>
                <div class='page d-flex justify-content-center' style='padding-top:20px'>
                  <!-- 댓글 페이지네이션 -->
                  <ul class="pagination justify-content-center">
                    <!-- 이전 페이지 -->
                    {% if recomments.has_previous %}
                    <li class="page-item">
                      <a class="page-link" href="?recomment_page={{ recomments.previous_page_number }}" aria-label="Previous">
                        <i class="bi bi-chevron-double-left"></i>
                      </a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                      <a class="page-link" tabindex="-1" aria-disabled="true" href="#">
                        <i class="bi bi-chevron-double-left"></i>
                      </a>
                    </li>
                    {% endif %}

                    <!-- 페이지 리스트 -->
                    {% for page_number in recomments.paginator.page_range %}
                    {% if page_number == recomments.number %}
                    <li class="page-item active" aria-current="page">
                      <a class="page-link" style='background-color:#5e0080; border-color:#dee2e6;'
                        href="?recomment={{ page_number }}">{{ page_number }}</a>
                    </li>
                    {% else %}
                    <li class="page-item">
                      <a class="page-link" style='background-color:#5e0080; border-color:#dee2e6;'
                        href="?recomment_page={{ page_number }}">{{ page_number }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}

                    <!-- 다음페이지 -->
                    {% if reviews.has_next %}
                    <li class="page-item">
                      <a class="page-link" href="?recomment_page={{ recomments.next_page_number }}">
                        <i class="bi bi-chevron-double-right"></i>
                      </a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                      <a class="page-link" tabindex="-1" aria-disabled="true" href="#">
                        <i class="bi bi-chevron-double-right"></i>
                      </a>
                    </li>
                    {% endif %}
                  </ul>
                </div>
              </div>
            </div>
          </div> 
        </div>       
      </div>
    </div>
  </div>
</body>

<script>
  // 댓글 좋아요 비동기
  const commentforms = document.querySelectorAll('.comment-like-forms')
  const commentcsrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

  commentforms.forEach((form) => {
    form.addEventListener('submit', function (event) {
      event.preventDefault()
      const commentId = event.target.dataset.commentId

      axios({
        method: 'post',
        url: `/articles/c_like/${event.target.dataset.commentId}/`,
        headers: { 'X-CSRFToken': commentcsrftoken },
      })
        .then((response) => {
          const commentlikeBtn = document.querySelector(`#comment-like-btn-${commentId}`)
          const likeCount = document.querySelector(`#comment-like-count-${commentId}`)
          const commentisLiked = response.data.comment_is_liked
          const thumbsUp = document.querySelector(`#thumbs-up-${commentId}`)
          console.log(likeCount)

          if (commentisLiked === true) {
            thumbsUp.classList.remove('bi-hand-thumbs-up')
            thumbsUp.classList.add('bi-hand-thumbs-up-fill')
            // heart.classList.remove('bi-heart')
            // likeBtn.classList.remove('btn-outline-danger')
            // likeBtn.classList.add('btn-danger')
            likeCount.innerText = response.data.like_count
          } else {
            thumbsUp.classList.remove('bi-hand-thumbs-up-fill')
            thumbsUp.classList.add('bi-hand-thumbs-up')
            // heart.classList.add('bi-heart')
            // likeBtn.classList.remove('btn-danger')
            // likeBtn.classList.add('btn-outline-danger')
            likeCount.innerText = response.data.like_count
          }

        })
    })
  })
 

</script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>


{% endblock content %}