{% load static %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style.css' %}?{% now 'U'%}">

  <!-- bootstrap icon -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
  <title>치킨컬리</title>
</head>

<style>
  a {
    text-decoration: none;
  }
</style>


<body>
  <div class="d-flex align-items-center"
    style="background-color: #5e0080; color: white; font-weight: 400; height: 42px;">
    <div class="container text-center" style="min-width: 1070px; max-width: 1070px; font-size: 12px;">이동현
      장영진 차화영
      최보영 최정아</div>
  </div>
  <section class="d-flex container align-items-center justify-content-end navbar-line"
    style="max-width: 1050px; height: 35px; font-size: 12px;"><a class="non_a"
      href="{% url 'accounts:signup' %}">회원가입</a> <span class=mx-2 style="font-weight: 100;">|</span>
    <a class="non_a" href="{% url 'accounts:login' %}">로그인</a> <span class="mx-2" style="font-weight: 100;">|</span>고객센터
  </section>
  <nav class="navbar navbar-expand-lg bg-transparent" style="height: 63px"
    style="background-color: white; position: sticky; top: 0;">
    <div class="container nav-grid" style="max-width: 1050px;">
      <a class="navbar-brand" href="{% url 'products:index' %}"><img src="{% static 'images/logo.png' %}" width="80px"
          height="42"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div style="width: 30%;">
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link non_a" aria-current="page" href="#" style="font-size:18px;">치킨컬리</a>
            </li>
            <li class="navb-item">
              <a class="nav-link non_a" href="#" style="font-size:18px;">리뷰모음</a>
            </li>
          </ul>
        </div>
        <div class="d-flex align-items-center" style="width: 400px; border:1.8px solid #5e0080; border-radius: 8px;">
          <input class="form-control search-input" type="search" placeholder="검색어를 입력해주세요." aria-label="Search"
            style="width: 350px; height: 47px; color: #5e0080; border: 0px; font-weight: 400;">
          </form>
          <i class="bi bi-search search-icon" style="font-size:1.2rem;width: 10%; color: #5e0080;"></i>
        </div>
        <div class="d-flex justify-content-end" style="width: 300px">
          <div class="icons d-flex justify-content-between" style="width: 130px;">
            <div><i class="bi bi-github" style="font-size: 1.4rem"></i></div>
            <div><i class="bi bi-heart" style="font-size: 1.4rem"></i></div>
            <div><i class="bi bi-cart" style="font-size: 1.4rem"></i></div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  {% block content %} {% endblock %}
  <footer>
    <div class="container" style="max-width: 1070px; height: 580px; padding: 30px 0 0; border-top:1px solid #dfdfdf;">
      <div class="d-flex justify-content-between">
        <div>
          <h2>고객센터</h2>
          <p>010-000-0000 | 09:00 ~ 18:00</p>
        </div>
        <div>
          <p>소개 인재채용 약관 개인정보처리방침 이용안내</p>
          <p>법인명 등록번호</p>
          <p>주소 대표이사</p>
          <p>입점문의 제휴문의</p>
          <p>채용문의</p>
          <p>팩스 010-000-0000</p>
          <p>인스타 트위터 페이스북 카카오톡 네이버블로그</p>
        </div>
      </div>
    </div>
  </footer>


  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
  <!-- Axios -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  {% block script %}{% endblock %}
</body>

</html>