{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load mathfilters %}
{% load widget_tweaks %}

{% block content %}
<div class="container my-5" style="width: 1070px;">
  {% if request.user.is_superuser == 1 %}
  <a href="{% url 'products:update' product.pk %}" class="btn btn-primary">상품 정보 수정</a>
  {% endif %}

  <div class="row">
    <div class="col">
      <!-- carousel 사진 영역 -->
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
          {% for image in product.image_set.all %}
          <!-- 사진 인덱싱 위해 mathfilters 설치해야 함 -->
          <button type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="{{ forloop.counter|sub:1|mod:image_cnt }}"
            class="{% if forloop.counter == 1 %} active {% endif %}" aria-current="true"
            aria-label="Slide {{ forloop.counter|mod:image_cnt }}"></button>
          {% endfor %}
        </div>
        <div class="carousel-inner">
          {% for image in product.image_set.all %}
          <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %}" style="height: 340px">
            <img src="{{ image.image.url }}" class="d-block h-100 mx-auto" alt="{{ image.image }}">
          </div>
          {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <!-- 상품 정보 -->
    <div class="col">
      <p class="mb-1" style="color: rgb(153, 153, 153); font-weight: 500;">{{ product.category }}</p>
      <p class="mb-1" style="color: rgb(51, 51, 51); font-weight: 500;">{{ product.brand }}</p>
      <p class="mb-4" style="font-size: 24px; font-weight: 500;">{{ product.product_name }}</p>
      <p class="mb-1" style="font-size: 28px; font-weight: 700; color: rgb(51, 51, 51)">{{ product.price }}
        <span style="font-size: 18px;">원</span>
      </p>
      </div>
    </div>
    
   {% if request.user.is_authenticated %}
      <form action="" method="POST">
        {% csrf_token %}
        {% bootstrap_form product_buy_form %}
        <input type="submit" value="장바구니" name="cart">
      </form>

      <form action="{% url 'products:ddib' product.pk %}" method="POST">
        {% csrf_token %}
        <!-- <button type="submit" class="btn btn-lg default">
          <i class="bi bi-star" style="color: #5e0080;"></i>
        </button> -->
        <input type="submit" value="찜" name="ddib">
      </form>
    {% endif %}
    </div>
  </div>

  <!-- 상품 후기 -->
  <div class="row">
    <div class='mx-auto' style='width: 440px;'>
      {% if request.user.is_authenticated %}
      <form action="{% url 'products:review_create' product.pk %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="후기 작성" name="review">
      </form>
      {% endif %}
      <h5 class='fw-bold'>후기 </h5>
      {% for review in reviews %}
          <p>{{ review.user }}</p>
          <p>{{ review.product.product_name }}</p>
          <p>{{ review.content }}</p>
          <p>{{ review.created_at }} 작성</p>
      {% endfor %}
    </div>
  </div>

  <!-- 상품 문의 등록 버튼 & 모달 -->
  <div class="row">
    <div class="text-end">
      <button type="button" class="btn btn-primary w-auto" data-bs-toggle="modal"
        data-bs-target="#inquiry">문의하기</button>
    </div>

    <!-- Modal -->
    {% if request.user.is_authenticated %}
    <div class="modal fade" id="inquiry" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">상품 문의하기</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body">
            <div class="d-flex align-items-center mb-3">
              <img src="{{ product.image_set.all.0.image.url }}" alt="" class="rounded-1" width="64px" height="64px">
              <p class="m-0 ms-4 fw-bold">{{ product.product_name }}</p>
            </div>

            <form action="{% url 'products:create_inquiry' product.pk %}" method="POST">
              {% csrf_token %}
              {% bootstrap_form inquiry_form %}

              <div class="text-center">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                <button type="submit" class="btn btn-primary">등록</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% else %}
    <div class="modal fade" id="inquiry" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">로그인하셔야 본 서비스를 이용하실 수 있습니다.</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">확인</button>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>

    <!-- 상품 문의 목록 -->
    <div class="row">
      <table class="table">
        <thead class="text-center">
          <tr>
            <th scope="col" style="width: 710px;">제목</th>
            <th scope="col" style="width: 100px;">작성자</th>
            <th scope="col" style="width: 100px;">작성일</th>
            <th scope="col" style="width: 100px;">답변상태</th>
          </tr>
        </thead>

        <tbody>
          {% for inquiry in inquiries %}
            <tr data-bs-toggle="collapse" data-bs-target="#collapse-inquiry-{{ inquiry.pk }}" aria-expanded="false" style="vertical-align: middle;">
              <td scope="row" style="width: 710px;" class="px-3">{{ inquiry.title }}</td>
              <td style="width: 100px;" class="text-center">{{ inquiry.user }}</td>
              <td style="width: 100px;" class="text-center">{{ inquiry.created_at|date:'Y.m.d' }}</td>
              {% if inquiry.reply %}
                <td style="width: 100px;" class="text-center text-primary">답변완료</td>
              {% else %}
                <td style="width: 100px;" class="text-center">-</td>
              {% endif %}
            </tr>
            
            <!-- 답변 Collapse -->
            <tr class="collapse" id="collapse-inquiry-{{ inquiry.pk }}">
              <td colspan="4" class="text-bg-light px-3">
                <div>
                  <div class="d-flex">
                    <div class="me-3">Q.</div> 
                    <div>{{ inquiry.content }}</div>
                  </div>
                  <div>
                    {% if inquiry.reply %}
                      <div class="d-flex mt-3">
                        <div class="me-3">A.</div> 
                        <div>{{ inquiry.reply.content }}</div>
                      </div>
                    {% else %}
                      <!-- 답변이 달리지 않았으면, 문의글 수정 & 삭제 O -->
                      {% if request.user == inquiry.user %}
                        <div class="d-flex mt-3">
                          <button type="button" class="btn btn-primary w-auto" data-bs-toggle="modal" data-bs-target="#updateInquiry">수정</button>
                          
                        </div>

                        <!-- 문의 수정 모달 -->
                        <div class="modal fade" id="updateInquiry" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">상품 문의하기</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                
                              <div class="modal-body">
                                <div class="d-flex align-items-center mb-3">
                                  <img src="{{ product.image_set.all.0.image.url }}" alt="" class="rounded-1" width="64px" height="64px">
                                  <p class="m-0 ms-4 fw-bold">{{ product.product_name }}</p>
                                </div>
                                
                                <form action="{% url 'products:update_inquiry' product.pk inquiry.pk %}" method="POST">
                                  {% csrf_token %}
                                  {% bootstrap_form inquiry_form %}
                                  {% comment %} {{ inquiry_form.status }} {% endcomment %}
                
                                  <div class="text-center">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                                    <button type="submit" class="btn btn-primary">등록</button>
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      {% endif %}

                      {% if request.user.is_superuser == 1 %}
                        <form action="{% url 'products:create_reply' product.pk inquiry.pk %}" method="POST">
                          {% csrf_token %}
                          {{ reply_form.content|add_class:'form-control my-3'|attr:'rows:3'|attr:'placeholder:답변을 작성해주세요.' }}
        
                          <div class="text-end mb-3">
                            <button type="reset" class="btn btn-secondary">취소</button>
                            <button type="submit" class="btn btn-primary">등록</button>
                          </div>
                        </form>
                      {% endif %}
                    {% endif %}
                  </div>
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
{% endblock content %}