{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load mathfilters %}
{% load widget_tweaks %}
{% load social_share %}
{% load static %}
{% load humanize %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/products/review.css' %}">
{% endblock css %}

{% block content %}
<div class="container" style="width: 1070px; padding: 102px 0;">
  <div>
    <div class="d-flex justify-content-between">
      <article class="left" style="width: 480px; height: 480px;">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
          <div class="carousel-indicators">
            {% for image in product.image_set.all %}
            <!-- 사진 인덱싱 위해 mathfilters 설치해야 함 -->
            <button type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="{{ forloop.counter|sub:1|mod:image_cnt }}"
              class="{% if forloop.counter == 1 %} active {% endif %}" aria-current="true"
              aria-label="Slide {{ forloop.counter|mod:image_cnt }}">
            </button>
            {% endfor %}
          </div>
          <div class="carousel-inner">
            {% for image in product.image_set.all %}
            <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %}"
              style="height: 480px; width: 480px;">
              <img style="object-fit: cover; width: 480px; height:480px;" src="{{ image.image.url }}"
                class="d-block mx-auto" alt="{{ image.image }}">
            </div>
            {% endfor %}
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </article>

      <article class="d-flex align-items-center" style="width: 480px; height: 480px;">
        <div class="d-flex flex-column justify-content-between" style="width: 400px; height: 380px;">
          <div class="div-top" style="height: 144px;">
            <div style="font-size: 20px; font-weight:700; color:#5e0080">{{ product.brand }}</div>
            <h1 style="font-size: 32px; font-weight:700; color:rgb(51, 51, 51); margin-top: 16px;">
              {{ product.product_name }}</h1>
            <div style="font-size: 20px; font-weight:400; color:rgb(131, 131, 131); margin-top: 24px;">
              {{ product.content }}
            </div>
          </div>

          <!-- 가격 및 결제 버튼 -->
          <div class="div-bottom">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <div class="row mb-3" style="min-width: 240px;">
                <div class="col d-flex flex-column align-items-center" style="height: 45px;">
                  <p class="mb-1" style="font-size: 13px; color: rgb(115, 115, 115)">탄수화물</p>
                  <p style="font-size: 16px; color: rgb(115, 115, 115)">{{ product.carbohydrate }}g</p>
                </div>
                <div class="col d-flex flex-column align-items-center border-start" style="height: 45px;">
                  <p class="mb-1" style="font-size: 13px; color: rgb(115, 115, 115)">단백질</p>
                  <p style="font-size: 16px; color: rgb(115, 115, 115)">{{ product.protein }}g</p>
                </div>
                <div class="col d-flex flex-column align-items-center border-start" style="height: 45px;">
                  <p class="mb-1" style="font-size: 13px; color: rgb(115, 115, 115)">지방</p>
                  <p style="font-size: 16px; color: rgb(115, 115, 115)">{{ product.fat }}g</p>
                </div>
              </div>
              <div style="font-size: 32px; font-weight: 700">
                <!-- intcomma는 js에서 숫자형으로 못 바꾸는 것 같다. -->
                <span id="price" class="d-none">{{ product.price }}</span>
                <span>{{ product.price|intcomma }}</span>원
              </div>
            </div>

            <div class="row">
              {% if request.user.is_authenticated %}
              <div class="d-flex align-items-center">
                <!-- 장바구니 버튼 -->
                <form id="product-buy-form" data-product-id="{{ product.pk }}" class="w-100">
                  {% csrf_token %}
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                      <label class="form-label m-0 me-2" for="id_quantity">수량</label>
                      <div>{{ product_buy_form.quantity|add_class:"form-control"|attr:"min:0" }}</div>
                    </div>
                    <button type='submit'
                      style='background-color:transparent; border:none;'
                      id="btn-cart" class="bi bi-cart2 fs-1" name="cart" data-bs-toggle="modal" data-bs-target="#cart"
                      disabled>
                    </button>
                  </div>
                </form>

                <!-- 찜 버튼 -->
                <form data-product-id='{{ product.pk }}' id='ddib-btn' class="ddib-heart ms-2">
                  {% csrf_token %}
                  <button style='background-color:transparent; border:none;'
                    class='product-detail-ddib-btn' type='submit'>
                    {% if request.user in product.ddib_users.all %}
                    <i style='color:#5e0080;' class="bi bi-heart-fill fs-1"></i>
                    {% else %}
                    <i style='color:#5e0080;' class="bi bi-heart fs-1"></i>
                    {% endif %}
                  </button>
                </form>
              </div>


              <div class="modal fade" id="isValidModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true" style="margin: 0;">
                <div class="modal-dialog container" style="width:360px; margin: 200px auto;">
                  <div class="modal-content mx-0" style="width:360px; height:180px;">
                    <div class="modal-body text-center" id="modal-body"
                      style="padding: 40px 30px;font-size: 1rem; font-weight: 500;">
                    </div>
                    <div class="modal-footer d-flex justify-content-center py-2">
                      <button class="btn" type="button" data-bs-dismiss="modal"
                        style="color: #5e0080; border: 0px; font-weight: 500;">확인</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 장바구니 Modal (수정 필요) -->
              <div class="modal fade" id="cart" tabindex="-1" aria-hidden="true"
                style="border: 0px solid black; margin: 0;">
                <div class="modal-dialog container" style="width:360px; margin:200px auto;">
                  <div class="modal-content mx-0" style="width:360px; height: 180px;">
                    <div class="modal-body text-center" style="padding: 40px 30px; font-size: 1rem; font-weight: 500;">
                      장바구니에 상품을 담았습니다. <span id="product-existing"></span>
                    </div>
                    <div class="modal-footer d-flex justify-content-center py-2" style="border: 0px solid black">
                      <!-- 장바구니로 이동하는 버튼도 추가(예정) -->
                      <button type="submit" class="btn" data-bs-dismiss="modal" style="border: 0px;">확인</button>
                    </div>
                  </div>
                </div>
              </div>
              {% endif %}

              <button id="btn-payment" class="btn form-control"
                onclick="requestPay('{{ product.pk }}', '{{ product.product_name }}')"
                style="font-size: 18px; font-weight: 400;margin-top: 18px; height:58px; background-color: #5e0080; color:white"
                disabled>결제하기</button>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>

<div class="container my-5" style="width: 1070px; padding-bottom: 100px;">


  {% comment %} sns 공유
  <div class='sns float-end'>
    <span class="sociallink ml-1">
      <a href="javascript:sendLinkFacebook()" title="페이스북으로 공유">
        <img src="https://windybay.net/static/images/facebook.png" width=36 alt="Facebook">
      </a>
    </span>

    <span class="sociallink ml-1">
      <a href="javascript:sendLinkNaver()" title="네이버로 공유">
        <img src="https://windybay.net/static/images/naver.png" width=36 alt="Naver">
      </a>
    </span>
  </div> {% endcomment %}


  <!-- 상품 후기 -->
  <div class='product-review position-relative' style='padding: bottom 100px;'>
    <section class='review' style='padding:72px 0px;'>
      <header class='review-title d-flex align-items-center w-100'>
        <h2 class='fw-bold' style='font-size: 18px;'>상품 후기 &nbsp
          <span style="color:#5e0080; font-weight: 700;">{{ reviews.count }}</span>
        </h2>
        {% if request.user.is_authenticated %}
        <div class='review-btn position-absolute' style='right:0px'>
          <form action="{% url 'products:review_create' product.pk %}" method="GET">
            {% csrf_token %}
            <div class="d-flex justify-content-center my-3">
              <input type="submit" class="btn fw-bold form-control"
                style="border-radius:0px; height:40px; width:120px; background-color: #5e0080; color: white"
                value="후기쓰기">
            </div>
          </form>
        </div>
        {% endif %}
      </header>
      <div class='review-list w-100 position-relative' style='margin-top:34px; border-top:1px solid black;'>
        {% for review in reviews %}
        <div class='review-detail d-flex'
          style='padding:30px 0px 19px 20px; border-bottom:1px solid rgb(244, 244, 244); font-size:14px; font-weight:400; line-height:19px;'>
          <div class='review-writer' style='flex:0 0 225px;'>
            <div class='d-flex'>
              <span>{{ review.user }}
              </span>
            </div>
          </div>
          <article class='review-content' style='flex:1 1 0%;'>
            <div>
              <div>
                <h3 class="mb-0" style='font-size:14px; font-weight:400; color:rgb(153, 153, 153);'>
                  {{ review.product.product_name }}</h3>
              </div>
              <p class="mb-0" style='white-space:pre-line; font-weight: 600;'>
                {{ review.title }}</p>

              <p style='white-space:pre-line; line-height:19px;'>
                {{ review.content }}</p>
              <div class='review-img d-flex' style='padding:15px 0px 2px; gap:3px; overflow:auto; flex-wrap:nowrap;'>
                {% for photo in review.reviewimage_set.all %}
                <div class='d-flex'>
                  <img src="{{ photo.review_img.url }}" alt="{{ photo.review_img }}" class='review-img'
                    style="width:93px; height:93px; flex-shrink:0; border-radius:2px">
                </div>
                {% endfor %}
              </div>
            </div>
            <footer class='review-date w-100 d-flex justify-content-between w-100'
              style='align-items:center; padding-top:19px; padding-right:20px'>
              <div>
                <span style='color: rgb(153, 153, 153);'>{{ review.created_at|date:"Y.m.d" }}</span>
              </div>
              {% if request.user == review.user %}
              <div>
                <form class='d-flex' action="{% url 'products:review_update' product.pk review.pk %}" method="GET">
                  {% csrf_token %}
                  <input type="submit" class="btn fw-bold form-control"
                    style="border-radius:3px; height:36px; width:96px; border:1px solid rgb(221, 221, 221); font-size:12px; text-align:center;"
                    value="후기수정">
                </form>
              </div>
              {% endif %}
            </footer>
          </article>
        </div>
        {% endfor %}
      </div>
      {% if request.user.is_authenticated %}
      <!-- <div class='review-btn position-absolute' style='right:0px'>
        <form action="{% url 'products:review_create' product.pk %}" method="GET">
          {% csrf_token %}
          <div class="d-flex justify-content-center my-3">
            <input type="submit" class="btn fw-bold form-control"
              style="border-radius:3px; height:40px; width:120px; background-color: #5e0080; color: white" value="후기쓰기">
          </div>
        </form>
      </div> -->
      {% endif %}
      <div class='page d-flex justify-content-center' style='padding-top:20px'>
        <!-- 후기 페이지네이션 -->
        <ul class="pagination justify-content-center">
          <!-- 이전 페이지 -->
          {% if reviews.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?review_page={{ reviews.previous_page_number }}" aria-label="Previous">
              <i class="bi bi-chevron-double-left"></i>
            </a>
          </li>
          {% else %}
          <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">
              <i class="bi bi-chevron-double-left"></i>
            </a>
          </li>
          {% endif %}

          <!-- 페이지 리스트 -->
          {% for page_number in reviews.paginator.page_range %}
          {% if page_number == reviews.number %}
          <li class="page-item active" aria-current="page">
            <a class="page-link" style='background-color:#5e0080; border-color:#dee2e6;'
              href="?review={{ page_number }}">{{ page_number }}</a>
          </li>
          {% else %}
          <li class="page-item">
            <a class="page-link" style='background-color:#5e0080; border-color:#dee2e6;'
              href="?review_page={{ page_number }}">{{ page_number }}</a>
          </li>
          {% endif %}
          {% endfor %}

          <!-- 다음페이지 -->
          {% if reviews.has_next %}
          <li class="page-item">
            <a class="page-link" href="?review_page={{ reviews.next_page_number }}">
              <i class="bi bi-chevron-double-right"></i>
            </a>
          </li>
          {% else %}
          <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">
              <i class="bi bi-chevron-double-right"></i>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
    </section>
  </div>


  <!-- 상품 문의 등록 버튼 & 모달 -->
  <div class="row">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h2 class="fw-bold m-0" style='font-size: 18px;'>상품 문의</h2>
      <button type="button" class="btn fw-bold" data-bs-toggle="modal" data-bs-target="#inquiry"
        style="border-radius:0px; height:40px; width:120px; background-color: #5e0080; color: white">문의하기</button>
    </div>

    <div class="mb-3">
      <p class="text-muted m-0">· 상품에 대한 문의를 남기는 공간입니다. 해당 게시판의 성격과 다른 글은 사전동의 없이 담당 게시판으로 이동될 수 있습니다.</p>
      <p class="text-muted m-0">· 배송관련, 주문(취소/교환/환불)관련 문의 및 요청사항은 내 1:1 문의에 남겨주세요.</p>
    </div>

    <!-- Modal -->
    {% if request.user.is_authenticated %}
    <div class="modal fade" id="inquiry" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">상품 문의하기</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body">
            <div class="d-flex align-items-center mb-3">
              <img src="{{ product.image_set.all.0.image.url }}" alt="" class="rounded-1" width="64px" height="64px">
              <p class="m-0 ms-4 fw-bold">{{ product.product_name }}</p>
            </div>

            <!-- 문의 생성 폼 -->
            {% comment %} <form id="inquiry-create-form-{{ product.pk }}"
              onsubmit="event.preventDefault(); create_inquiry(this, '{{ product.pk }}')"> {% endcomment %}
              <form action="{% url 'products:create_inquiry' product.pk %}" method="POST">
                {% csrf_token %}
                {% bootstrap_form inquiry_form %}

                <div class="text-center">
                  <button type="button" class="btn me-2" data-bs-dismiss="modal"
                    style="border:solid 1px #d3d3d3; border-radius:3px; height:50px; width:120px; background-color: white;">취소</button>
                  <button type="submit" class="btn" data-bs-dismiss="modal"
                    style="border-radius:3px; height:50px; width:120px; background-color: #5e0080; color: white">등록</button>
                </div>
              </form>
          </div>
        </div>
      </div>
    </div>
    {% else %}
    <!-- 여기 디자인도 부탁드립니다 영진님..!! -->
    <div class="modal fade" id="inquiry" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">로그인하셔야 본 서비스를 이용하실 수 있습니다.</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">확인</button>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>

  <!-- 상품 문의 목록 -->
  <div class="row px-3" style="border-top:1px solid black;">
    <table class="table">
      <thead class="text-center">
        <tr>
          <th scope="col" style="width: 710px;">제목</th>
          <th scope="col" style="width: 100px;">작성자</th>
          <th scope="col" style="width: 100px;">작성일</th>
          <th scope="col" style="width: 100px;">답변상태</th>
        </tr>
      </thead>

      <tbody id="inquiryTableBody">
        {% for inquiry in inquiries %}
        <tr class="inquiry-{{ inquiry.pk }}" data-bs-toggle="collapse"
          data-bs-target="#collapse-inquiry-{{ inquiry.pk }}" aria-expanded="false" style="vertical-align: middle;">
          <td id="inquiry-title-{{ inquiry.pk }}" class="inquiry_title" scope="row" style="width: 710px;" class="px-3">
            {{ inquiry.title }}</td>
          <td style="width: 100px;" class="text-center">{{ inquiry.user }}</td>
          <td style="width: 100px;" class="text-center">{{ inquiry.created_at|date:'Y.m.d' }}</td>
          {% if inquiry.reply %}
          <td style="width: 100px;" class="text-center"><span style="color:#5e0080">답변완료</span></td>
          {% else %}
          <td id="reply-status-{{ inquiry.pk }}" style="width: 100px;" class="text-center">-</td>
          {% endif %}
        </tr>

        <!-- 문의 내용 및 답변 Collapse -->
        <tr class="collapse inquiry-{{ inquiry.pk }}" id="collapse-inquiry-{{ inquiry.pk }}">
          <td colspan="4" class="text-bg-light px-3">
            <div>
              <div class="d-flex">
                <div class="me-3">Q.</div>
                <div id="inquiry-content-{{ inquiry.pk }}">{{ inquiry.content }}</div>
              </div>
              <div>
                <div id="reply-box-{{ inquiry.pk }}" class="d-none d-flex mt-3">
                </div>

                {% if inquiry.reply %}
                <div id="reply-box-{{ inquiry.pk }}" class="d-flex mt-3">
                  <div class="me-3">A.</div>
                  <div>{{ inquiry.reply.content }}</div>
                </div>
                {% else %}
                <!-- 답변이 달리지 않았으면, 문의글 수정 & 삭제 O -->
                {% if request.user == inquiry.user %}
                <div id="inquiry-update-delete-btns-{{ inquiry.pk }}" class="d-flex justify-content-end mt-3">
                  <a href="" class="text-muted me-2" data-bs-toggle="modal"
                    data-bs-target="#updateInquiry{{ inquiry.pk }}">수정</a>

                  {% comment %} <form action="{% url 'products:delete_inquiry' product.pk inquiry.pk %}" method="POST">
                    {% endcomment %}
                    <form id="inquiry-delete-form-{{ inquiry.pk }}"
                      onsubmit="event.preventDefault(); delete_inquiry(this, '{{ product.pk }}', '{{ inquiry.pk }}')">
                      <input type="submit" class="btn-none text-muted" value="삭제">
                    </form>
                </div>

                <!-- 문의 수정 모달 -->
                <div class="modal fade" id="updateInquiry{{ inquiry.pk }}" data-bs-backdrop="static"
                  data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">상품 문의하기</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>

                      <div class="modal-body">
                        <div class="d-flex align-items-center mb-3">
                          <img src="{{ product.image_set.all.0.image.url }}" alt="" class="rounded-1" width="64px"
                            height="64px">
                          <div class="ms-3">
                            <p class="fs-5 fw-bold mb-1">{{ product.product_name }}</p>
                            <p class="text-muted m-0">{{ product.content }}</p>
                          </div>
                        </div>

                        <!-- 문의 수정 폼 -->
                        {% comment %} <form action="{% url 'products:update_inquiry' product.pk inquiry.pk %}"
                          method="POST"> {% endcomment %}
                          <form id="inquiry-update-form-{{ inquiry.pk }}"
                            onsubmit="event.preventDefault(); update_inquiry(this, '{{ product.pk }}', '{{ inquiry.pk }}')">
                            {% csrf_token %}

                            <!-- inquiry_form -->
                            <div class="mb-3">
                              <label class="form-label" for="id_title">제목</label>
                              <input type="text" name="title" maxlength="50" class="form-control" placeholder="제목"
                                required id="id_title" value={{ inquiry.title }}>
                            </div>
                            <div class="mb-3">
                              <label class="form-label" for="id_content">내용</label>
                              <textarea name="content" cols="40" rows="10" class="form-control" placeholder="내용"
                                required id="id_content">{{ inquiry.content }}</textarea>
                            </div>

                            <div class="text-center">
                              <button type="button" class="btn me-2" data-bs-dismiss="modal"
                                style="border:solid 1px #d3d3d3; border-radius:3px; height:50px; width:120px; background-color: white;">취소</button>
                              <button type="submit" class="btn" data-bs-dismiss="modal"
                                style="border-radius:3px; height:50px; width:120px; background-color: #5e0080; color: white">등록</button>
                            </div>
                          </form>
                      </div>
                    </div>
                  </div>
                </div>
                {% endif %}

                {% if request.user.is_superuser == 1 %}
                <hr id="inquiry-hr-{{ inquiry.pk }}">
                {% comment %} <form action="{% url 'products:create_reply' product.pk inquiry.pk %}" method="POST">
                  {% endcomment %}
                  <form id="reply-create-form-{{ inquiry.pk }}"
                    onsubmit="event.preventDefault(); create_reply(this, '{{ product.pk }}', '{{ inquiry.pk }}')">
                    {% csrf_token %}
                    {{ reply_form.content|add_class:'form-control my-3'|attr:'rows:3'|attr:'placeholder:답변을 작성해주세요.' }}

                    <div class="text-center mb-3">
                      <button type="reset" class="btn me-2"
                        style="border:solid 1px #d3d3d3; border-radius:3px; height:40px; width:120px; background-color: white;">취소</button>
                      <button type="submit" class="btn"
                        style="border-radius:3px; height:40px; width:120px; background-color: #5e0080; color: white">등록</button>
                    </div>
                  </form>
                  {% endif %}
                  {% endif %}
              </div>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <!-- 상품 문의 페이지네이션 -->
  <ul class="pagination justify-content-center">
    <!-- 이전 페이지 -->
    {% if inquiries.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?inquiry_page={{ inquiries.previous_page_number }}" aria-label="Previous">
        <i class="bi bi-chevron-double-left"></i>
      </a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" tabindex="-1" aria-disabled="true" href="#">
        <i class="bi bi-chevron-double-left"></i>
      </a>
    </li>
    {% endif %}

    <!-- 페이지 리스트 -->
    {% for page_number in inquiries.paginator.page_range %}
    {% if page_number == inquiries.number %}
    <li class="page-item active" aria-current="page">
      <a class="page-link" style='background-color:#5e0080; border-color:#dee2e6;'
        href="?inquiry_page={{ page_number }}">{{ page_number }}</a>
    </li>
    {% else %}
    <li class="page-item">
      <a class="page-link" style='background-color:#5e0080; border-color:#dee2e6;'
        href="?inquiry_page={{ page_number }}">{{ page_number }}</a>
    </li>
    {% endif %}
    {% endfor %}

    <!-- 다음페이지 -->
    {% if inquiries.has_next %}
    <li class="page-item">
      <a class="page-link" href="?inquiry_page={{ inquiries.next_page_number }}">
        <i class="bi bi-chevron-double-right"></i>
      </a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" tabindex="-1" aria-disabled="true" href="#">
        <i class="bi bi-chevron-double-right"></i>
      </a>
    </li>
    {% endif %}
  </ul>
</div>
{% endblock content %}

{% block script %}
<script>
  // 수량이 1 ~ 10일 때만 장바구니 버튼 활성화
  const quantityField = document.querySelector('#id_quantity') // quantity 입력 필드
  const btnCart = document.querySelector('#btn-cart') // 장바구니 버튼
  quantityField.addEventListener('input', event => {
    if (0 < event.target.value && event.target.value <= 10) {
      btnCart.disabled = false
      btnCart.style.color = '#5e0080'
    } else {
      btnCart.disabled = true
    }
  })

  // 장바구니 모달
  const productBuyForm = document.querySelector('#product-buy-form')
  const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value
  productBuyForm.addEventListener('submit', event => {
    event.preventDefault()
    const productId = event.target.dataset.productId

    axios({
      method: 'POST',
      url: `/products/${productId}/cart/`,
      headers: { 'X-CSRFToken': csrfToken },
      data: new FormData(productBuyForm),
    })
      .then(response => {
        // 수량을 0으로 초기화 및 장바구니 버튼 비활성화
        productBuyForm.reset()
        btnCart.disabled = true

        const doesExist = response.data.doesExist
        const productExisting = document.querySelector('#product-existing') // 이미 장바구니에 상품이 있을 경우 출력할 문구
        if (doesExist === true) {
          productExisting.innerText = '이미 담은 상품의 수량을 추가했습니다.'
        }
      })
  })

  // (1) 찜하기 버튼
  const ddibBtn = document.querySelector('#ddib-btn')
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

  // console.log(ddibBtn)
  // (2) 찜하기 버튼을 클릭하면, 함수 실행
  ddibBtn.addEventListener('click', function (event) {
    // 서버로 비동기 요청(axios)을 하고 싶음
    event.preventDefault()
    console.log(event.currentTarget.dataset.productId)
    axios({
      method: 'post',
      url: `/products/${event.currentTarget.dataset.productId}/ddib/`,
      headers: { 'X-CSRFToken': csrftoken },
    })
      .then(response => {
        console.log(response)
        console.log(response.data)
        const ddibItem = document.querySelector('#ddib-btn > button > i')
        ddibItem.classList.toggle('bi-heart')
        ddibItem.classList.toggle('bi-heart-fill')
        // 다음 주석 처리한 내용과 동일
        // if (response.data.isLiked === true) {
        //     event.target.classList.add('bi-heart-fill')
        //     event.target.classList.remove('bi-heart')
        // } else {
        //     event.target.classList.add('bi-heart')
        //     event.target.classList.remove('bi-heart-fill')
        // } 
      })
  })

</script>

<script src="{% static 'js/sns.js' %}"></script>
<script type="text/javascript" src="{% static 'js/product_inquiries.js' %}"></script>
<script type="text/javascript" src="{% static 'js/payment_detail.js' %}"></script>
{% endblock script %}