{% extends 'base.html' %}
{% block content %}

  {% for product in products %}
    {% comment %} <a href="{% url 'products:detail' product.pk %}"> {% endcomment %}
    <a href="">
      <img src="{{ product.image_set.all.0.image.url }}" alt="" width="300px">
      
      <p>{{ product.product_name }}</p>
      <p>{{ product.price }}</p>
      <p>{{ product.brand }}</p>
      <p>{{ product.category }}</p>
    </a>
  {% endfor %}

  <a href="{% url 'products:create' %}" class="btn btn-primary">글쓰기</a>
{% endblock %}